#container #content{
    display: flex;

    flex-direction: column;
}
#content a{
    color: black;
    text-decoration: none;
}
#content .news-card{
    border: 1px solid black;
    margin: 2rem;

    height: 500px;
}

#content .news-card .image{
    background-color: #ddd;

    height: 200px;
    width: 100%;
}

#content .news-card .image img{
    width: 100%;
}


#content .news-card h1,
#content .news-card h2{
    padding: 0 1rem;
    margin-top: 1.2rem;
}

#content .news-card h2{
    font: 400 2.4rem 'Lato', sans-serif;
    color: gray;
}


@media (min-width: 700px){
    #container #content{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #content .news-card{
        height: 500px;
        flex: 0 0 28%;
    }
    
    #content .news-card::after{
        content: "";
        flex: 0 1 28%;
    }

    #content .news-card .image{
        height: 200px;
        width: 100%;
    }
}